// color variable declarations
$header-bgColor: #ffab73;
$main-bgColor: #ffd387;
$footer-bgColor: #ffaec0;
$pera-fontSize: 14px;

// browser reset code
* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

header {
	background: $header-bgColor;
}

main {
	background: $main-bgColor;
}

#about p {
	font-size: $pera-fontSize;
}

footer {
	background: $footer-bgColor;
}
