@import "./reset";
@import "./variables";

header {
	background: $header-bgColor;
}

@mixin para-style($size, $style) {
	font-size: $size;
	text-align: $style;
	margin: 10px 0;
}

#about p {
	@include para-style(20px, right);
}

#education p {
	@include para-style(20px, left);
}

nav {
	margin-top: 15px;

	ul {
		list-style-type: none;

		li {
			display: inline-block;
			padding: 10px;

			a {
				color: #fff;
				text-decoration: none;
				transition: 0.4s;
				padding: 5px;
				border-radius: 5px;
			}

			a:hover {
				background: #000;
			}
		}
	}
}

main {
	background: $main-bgColor;
}

footer {
	background: $footer-bgColor;
}
