@import "./reset";
@import "./variables";

header {
	background: $header-bgColor;
}

@mixin para-style($size, $style) {
	font-size: $size;
	text-align: $style;
	margin: 10px 0;
}

// conditionally style set in sass
@mixin setFontSize($value) {
	@if ($value == "small") {
		font-size: 14px;
	} @else if ($value == "medium") {
		font-size: 16px;
	} @else if ($value == "large") {
		font-size: 20px;
	} @else {
		font-size: none;
	}
}

#about p {
	@include para-style(20px, right);
}

#education p {
	@include para-style(20px, left);
}

btn {
	font-size: inherit;
	padding: 2px;
	border-radius: 2px;
	cursor: pointer;
}

.download {
	@extend btn; //inherit from btn
	background: purple;
	color: white;
}

.learn-more {
	@extend btn; // inherit from btn
}

nav {
	margin-top: 15px;

	ul {
		list-style-type: none;

		li {
			display: inline-block;
			padding: 10px;

			a {
				color: #fff;
				text-decoration: none;
				transition: 0.4s;
				padding: 5px;
				border-radius: 5px;
				@include setFontSize("medium");
			}

			a:hover {
				background: #000;
			}
		}
	}
}

main {
	background: $main-bgColor;
}

footer {
	background: $footer-bgColor;
}
